.clearfix{
	float: none;
	clear: both;
}

body{
	background: url("../images/hojas.jpg");
	background-attachment: fixed;

}

#global{
	background: white;
	width: 65%;
	margin: 0px auto;
	padding: 20px;
	padding-top: 10px;
	box-shadow: grey;
}

#cabecera{
	margin-top:-20px;
	font-family: serif, Arial;
	
}

#titulo{
    background: #235E30;
    font-size: 47px;
    color: white;
    width: 40%;
    padding: 5px;
    padding-left: 25px;
    margin-bottom: 15px;
}

#menu{
	font-size: 17px;
	width: 100%;
	height: 30px
	margin-button: 30px;
	list-style: none;
	line-height: 46px;
	background: #333;
}	

#menu ul{
	padding-left: 7px;
}

#menu li{
	display: inline-block;
}

#menu li a{
	color: white;
	padding: 15px;
	text-decoration: none;
	transition: 250ms;
}

#menu li a:hover{
	background: #235E30;
}

#articulos{
	position: left;
	width: 60%;
	margin-left: 5px;
}

#articulos h2{
	color: #333;
	font-size: 31px;
	margin-top:10px;
	margin-bottom: 7px;
}

#articulos .date{
	color: #aaa;
	display: block;
	margin-bottom: 7px;
}

#articulos .more{
    display: block;
    background: #235E30;
    color: white;
    text-decoration: none;
    width: 99px;
    height: 35px;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 9px;
}

#articulos hr{
	margin-bottom: 14px;
}

#adicional{
	float: right;
	width: 25%;
}