.clearfix{
	float: none;
	clear: both;
}

body{
	background: url("../images/hojas.jpg");
	background-attachment: fixed;

}

#global{
	background: white;
	width: 65%;
	margin: 0px auto;
	padding: 20px;
	padding-top: 10px;
	box-shadow: grey;
}

#cabecera{
	margin-top: 15px;
	font-family: serif, Arial;
	
}

#titulo{

	background: #235E30;
	font-size: 42px;
	color: white;
	width: 35%;
	padding: 5px;
	padding-left: 25px;
	margin-bottom: 15px;
}

#menu{
	font-size: 17px;
	width: 100%;
	height: 30px
	margin-button: 30px;
	list-style: none;
	line-height: 46px;
	background: #333;
}	

#menu ul{
	padding-left: 7px;
}

#menu li{
	display: inline-block;
}

#menu li a{
	color: white;
	padding: 15px;
	text-decoration: none;
	transition: 250ms;
}

#menu li a:hover{
	background: #235E30;
}

